<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>ClamAVClient</vendor>
  <vendor_url>https://github.com/openai/clamavclient</vendor_url>
  <icon_name>clamavclient</icon_name>
  <action id="com.openai.clamavclient.run">
    <description>Exécuter ClamAVClient avec droits administratifs</description>
    <message>L'authentification est requise pour exécuter ClamAVClient avec des droits administratifs</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/clamavclient</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
